[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
loguru = "*"
click = "*"
click-help-colors = "*"

[dev-packages]

[requires]
python_version = "3.12"
